// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

#include "qcom-ipq4019.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/soc/qcom,tcsr.h>

/ {
	aliases {
		label-mac-device = &gmac0;
		led-boot = &led_status_amber;
		led-failsafe = &led_status_red;
		led-running = &led_status_green;
		led-upgrade = &led_status_amber;
	};

	chosen {
		bootargs-append = " clk_ignore_unused";
		stdout-path = &blsp1_uart1;
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>;
	};

	reserved-memory {
		ranges;

		rsvd1@87000000 {
			reg = <0x87000000 0x500000>;
			no-map;
		};

		wifi_dump@87500000 {
			reg = <0x87500000 0x600000>;
			no-map;
		};

		rsvd2@87b00000 {
			/* Leave the final 64 KiB of this range to the inherited ramoops node. */
			reg = <0x87b00000 0x2f0000>;
			no-map;
		};
	};

	soc {
		counter@4a1000 {
			compatible = "qcom,qca-gcnt";
			reg = <0x4a1000 0x4>;
		};

		mdio@90000 {
			status = "okay";
			pinctrl-0 = <&mdio_pins>;
			pinctrl-names = "default";
		};

		ess-psgmii@98000 {
			status = "okay";
		};

		tcsr@1949000 {
			compatible = "qcom,tcsr";
			reg = <0x1949000 0x100>;
			qcom,wifi_glb_cfg = <TCSR_WIFI_GLB_CFG>;
		};

		ess_tcsr@1953000 {
			compatible = "qcom,tcsr";
			reg = <0x1953000 0x1000>;
			qcom,ess-interface-select = <TCSR_ESS_PSGMII>;
		};

		tcsr@1957000 {
			compatible = "qcom,tcsr";
			reg = <0x1957000 0x100>;
			qcom,wifi_noc_memtype_m0_m2 = <TCSR_WIFI_NOC_MEMTYPE_M0_M2>;
		};

		rng@22000 {
			status = "okay";
		};

		crypto@8e3a000 {
			status = "okay";
		};

		watchdog@b017000 {
			status = "okay";
		};

		ess-switch@c000000 {
			switch_lan_bmp = <0x10>;
			switch_wan_bmp = <0x00>;
			status = "okay";
		};

		edma@c080000 {
			qcom,num_gmac = <1>;
			status = "okay";
		};
	};

	keys {
		compatible = "gpio-keys";

		wps {
			label = "wps";
			gpios = <&tlmm 63 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WPS_BUTTON>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_status_amber: status_amber {
			label = "amber:status";
			gpios = <&tlmm 0 GPIO_ACTIVE_LOW>;
		};

		led_status_green: status_green {
			label = "green:status";
			gpios = <&tlmm 1 GPIO_ACTIVE_LOW>;
		};

		led_status_red: status_red {
			label = "red:status";
			gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;
		};

		status_blue {
			label = "blue:status";
			gpios = <&tlmm 3 GPIO_ACTIVE_LOW>;
		};
	};
};

&tlmm {
	mdio_pins: mdio_pinmux {
		mux_mdio {
			pins = "gpio53";
			function = "mdio";
			bias-pull-up;
		};

		mux_mdc {
			pins = "gpio52";
			function = "mdc";
			bias-pull-up;
		};
	};

	serial_pins: serial_pinmux {
		mux {
			pins = "gpio60", "gpio61";
			function = "blsp_uart0";
			bias-disable;
		};
	};

	spi_pins: spi_pinmux {
		mux_spi {
			function = "blsp_spi0";
			pins = "gpio55", "gpio56", "gpio57";
			drive-strength = <12>;
			bias-disable;
		};

		mux_cs {
			function = "gpio";
			pins = "gpio54", "gpio59";
			drive-strength = <2>;
			bias-disable;
			output-high;
		};
	};

	phy_reset {
		gpio-hog;
		line-name = "phy-reset";
		gpios = <62 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&blsp_dma {
	status = "okay";
};

&blsp1_uart1 {
	status = "okay";
	pinctrl-0 = <&serial_pins>;
	pinctrl-names = "default";
};

&blsp1_spi1 {
	status = "okay";
	pinctrl-0 = <&spi_pins>;
	pinctrl-names = "default";
	cs-gpios = <&tlmm 54 GPIO_ACTIVE_HIGH>,
		   <&tlmm 59 GPIO_ACTIVE_HIGH>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <24000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "0:SBL1";
				reg = <0x000000 0x040000>;
				read-only;
			};

			partition@40000 {
				label = "0:MIBIB";
				reg = <0x040000 0x020000>;
				read-only;
			};

			partition@60000 {
				label = "0:QSEE";
				reg = <0x060000 0x060000>;
				read-only;
			};

			partition@c0000 {
				label = "0:CDT";
				reg = <0x0c0000 0x010000>;
				read-only;
			};

			partition@d0000 {
				label = "0:DDRPARAMS";
				reg = <0x0d0000 0x010000>;
				read-only;
			};

			partition@e0000 {
				label = "0:APPSBLENV";
				reg = <0x0e0000 0x010000>;
			};

			partition@f0000 {
				label = "0:APPSBL";
				reg = <0x0f0000 0x080000>;
				read-only;
			};

			art: partition@170000 {
				compatible = "nvmem-cells";
				#address-cells = <1>;
				#size-cells = <1>;
				label = "0:ART";
				reg = <0x170000 0x010000>;
				read-only;

				wifi0_mac: macaddr@1006 {
					reg = <0x1006 0x6>;
				};

				wifi1_mac: macaddr@5006 {
					reg = <0x5006 0x6>;
				};
			};

			partition@180000 {
				label = "mfginfo";
				reg = <0x180000 0x010000>;
				read-only;
			};

			partition@190000 {
				label = "crashLog";
				reg = <0x190000 0x010000>;
				read-only;
			};

			partition@1a0000 {
				label = "config";
				reg = <0x1a0000 0x010000>;
				read-only;
			};
		};
	};

	flash@1 {
		compatible = "spi-nand";
		reg = <1>;
		spi-max-frequency = <24000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "fs";
				reg = <0x0000000 0x8000000>;
			};
		};
	};
};

&cryptobam {
	status = "okay";
};

&gmac0 {
	/* External switch port 4 is MDIO PHY address 3 in the legacy ESS driver. */
	qcom,phy_mdio_addr = <3>;
	qcom,poll_required = <1>;
	qcom,forced_speed = <1000>;
	qcom,forced_duplex = <1>;
	vlan_tag = <1 0x10>;
};

&wifi0 {
	mtd-mac-address = <&art 0x1006>;
	nvmem-cells = <&wifi0_mac>;
	nvmem-cell-names = "mac-address";
	status = "okay";
};

&wifi1 {
	mtd-mac-address = <&art 0x5006>;
	nvmem-cells = <&wifi1_mac>;
	nvmem-cell-names = "mac-address";
	status = "okay";
};
